/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7b3fbf; /* deep purple */
  --ifm-color-primary-dark: #6936a8;
  --ifm-color-primary-darker: #582b91;
  --ifm-color-primary-darkest: #452174;
  --ifm-color-primary-light: #8f53d1;
  --ifm-color-primary-lighter: #a66ede;
  --ifm-color-primary-lightest: #be89eb;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(123, 63, 191, 0.1); /* soft purple highlight */
}

/* Dark mode palette */
[data-theme='dark'] {
  --ifm-color-primary: #a97fff; /* brighter purple */
  --ifm-color-primary-dark: #8b61e6;
  --ifm-color-primary-darker: #6e46c2;
  --ifm-color-primary-darkest: #532fa3;
  --ifm-color-primary-light: #b792ff;
  --ifm-color-primary-lighter: #c9aaff;
  --ifm-color-primary-lightest: #e0c9ff;
  --docusaurus-highlighted-code-line-bg: rgba(123, 63, 191, 0.15); /* soft purple pastel background */
}
.misty-text {
    /* position: relative; */
    /* display: inline-block; */
    padding: 1rem 2rem;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    color: #fff;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
