/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #b57edc; /* lavender */
  --ifm-color-primary-dark: #a56dcf;
  --ifm-color-primary-darker: #965fc1;
  --ifm-color-primary-darkest: #834daa;
  --ifm-color-primary-light: #c68bed;
  --ifm-color-primary-lighter: #d39af3;
  --ifm-color-primary-lightest: #e6c4f7;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(130, 90, 180, 0.1); /* soft lavender highlight */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d9b3ff; /* lighter lavender */
  --ifm-color-primary-dark: #c295f5;
  --ifm-color-primary-darker: #b285e5;
  --ifm-color-primary-darkest: #9e6fd0;
  --ifm-color-primary-light: #e2c7ff;
  --ifm-color-primary-lighter: #edd5ff;
  --ifm-color-primary-lightest: #f8ecff;
  --docusaurus-highlighted-code-line-bg: rgba(230, 200, 255, 0.15); /* soft pastel background */
}

